<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task Manager</title>
  <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>Bem-vindo ao Task Manager!</h1>
      <div class="mascote">
          <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
              <!-- Corpo -->
              <circle cx="100" cy="130" r="40" fill="#07aff1"/>
              <!-- Cabeça -->
              <circle cx="100" cy="80" r="30" fill="#07aff1"/>
              <!-- Orelhas -->
              <circle cx="80" cy="50" r="15" fill="#07aff1"/>
              <circle cx="120" cy="50" r="15" fill="#07aff1"/>
              <!-- Olhos -->
              <circle cx="90" cy="75" r="5" fill="yellow"/>
              <circle cx="110" cy="75" r="5" fill="black"/>
              <!-- Nariz -->
              <circle cx="100" cy="85" r="3" fill="black"/>
              <!-- Boca -->
              <path d="M90 90 Q100 100 110 90" stroke="black" stroke-width="2" fill="none"/>
              <!-- Cauda -->
              <path d="M140 130 Q180 90 160 50 T140 130" fill= "#07aff1"stroke="#07aff1" stroke-width="3"/>
          </svg>
      </div>
  </div>
    <p>Organize suas tarefas e ative o modo foco para ser mais produtivo.</p>

    <button class="button">Entrar</button>
    <button class="button">Cadastrar</button>

    <!-- Cards -->
    <div class="cards">
      <div class="card">
        <h3>Organize suas Tarefas</h3>
        <p>Registre suas tarefas diárias e seja mais produtivo. Foco é a chave!</p>
      </div>
      <div class="card">
        <h3>Modo Foco</h3>
        <p>Ative o modo foco e conquiste seus objetivos. Menos distrações, mais resultados.</p>
      </div>
      <div class="card">
        <h3>Notificações Inteligentes</h3>
        <p>Receba lembretes 30 minutos antes da sua tarefa. Não perca o foco!</p>
      </div>
</div>
  </div>
</body>
</html>